body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: rgb(38, 36, 44);
  }
  
  .container {
    text-align: center;
  }

  .status {
    padding: 1px;
    background-color: #32CD32;
    font-size: 80px;
    border-radius: 3px;
  }