@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  padding: 0;
  align-items: center;
  color: rgb(0, 0, 0);
  background: linear-gradient(45deg, rgba(234,234,255,1) 0%, rgba(198,245,255,1) 100%);
}

.container {
  text-align: center;
}

.status {
  background-color: #baf5ce;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  text-align: center;
  font-size: 50px;
}

small.lastupdated {
  font-size: 20px;
}

p {
  margin: 0;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
  text-align: left;
  margin-top: 30px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(133, 133, 133, 0.8);
}

.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 0;
  margin-bottom: 0;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #ffffff96;
}

.numbertext {
  background-color: #ffffff96;
  color: #000000;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
